---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBVXmp8jR/6wDMdRusT8J06IjHQMs+/TXLtIUWCWB5os3EWzVyZFYu3r3BAE8C8rvjJM0GRyJAQlxBU17hEUHS+2/hvJqamHHqDNbojxVmuo04g1GFuyfgN8m+Ix33UeuMmEXjxCTSeuaukYIJ9if4idSZ9H9woaapI8+KnRAeX1DrXDYOkY6MnlhFa3kLJzbbR4HFzKseWGqZue9qHf/URgRqWl7yAPqxGsTymHXSOwaVl61y9WdyQEOSn50Dx+KWsTMOUztiZnMsFiTnpCfY42aycQacRLCseYh0bxGAdfBGarcUPglPgb87ye8FO8/Ls+DTCTNft6ek5AeqAZl97MqbsUUODZcU5zI5Cgu7uAvsFHyCO0bdxjJ7ElN+iAUf49zsitm+C3G2x+W5E6mWDsbyl04ZyX/L8iBHyNbMFFMRFz0T3MBr3dqz2DBpVo6HEtTP7yg8FJkf7X1DoAEW3m3hAqkP4g680naFNeCic44kuCinHEL0BxR33z0lDJuDh+hyn/tA1LZfD5S40mXwVR8t4btEG/R2+Sbp+1ZPKRhyI4EICfo2stwAU3lYTlSQncxgledWKOAZCPTefFFWUIaDmz6QkmzMH9kLfmu4xiQ0qrLCwlGNpnZ1S15d/QVcNe/N2Sjqow8KWGq3EiN1U1aGW/jEI8V2xdzoe5ducMgrgqS4Yd+usS3kvl6NBKgcSsTHyFgjML6+6Y0K7w8dbstY4iLxnSlMvcGaayVsXCodhjdaJTpw3inGfOQ==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
