---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBR15x2YvzF3uSM1tbCGSVpxNv+GfbGg2lrf9jNy4SAMkBWcpBZkn0CngcMLuvY5uvF4PTdxsY28AQwnC2aZTEvyQPZWLR5WnI09JOUoM+YdXvittPr588I51TvfB0Rq02WhbDKt7HeO1nmsNVOVu0PnnGiU48glCViiWcUdjgx7LxLBh0Z2MTUE/Q7qAukBufkjI3asY9zgaP9XfBMpEMwTvFWXfB5hxFLcVtL1hn2PP1gATG6B3GKW3IVNkB3cAMUuNjzz4BqtFij4tKUiih+NgbJhs6lXDck2GPKaFK7CpoHM1W+HDzcWXdFBxIYgU4D3v+zoUyUeGlOmxHAQUX6ajFKq+RE84b29iXz7LVKLdsxiCENAkqudz0gEehnzUPr+FwGtHAVBddd8TT0P0J4by5h1KDj+d/tZWB9RGO1Q1u+aO3wEdg+8JNE8Zll6xcmHh0FjNAduEAsN0zjQWK6QghmFjPXCEaIMRuiIUQZVDHq6hJMOJ9LTUs/zYrzZt3Y6lIpeBFzwsRnydEg3W/w84FX6IyAAOj4I6jvO+4jbNwOJXjMdSB3z7QlGUNd4oL9xGq+68mz/Bm6qWou4u1xHoeW7kthZAZ9gKHs3DrlmGxUG+goDYq+tbMVvTZ0PnNvfjcRn5AE1cxoZBkMo3R/ekzUti598ZELCIFsnRllgQT7g1WFw2iHKzCEd3jER4ZQLviqQbnDNnxIvn+m+ZL0h8qScFv3Bafm6bogXOhAP47BA37/4ijat9Uaeg==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
