---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgCs57xpdF/qrdglG9ZYVI9TwPAUtZ+Uw8wOhZL4jBVFK9L8SxoN8YnjLWczWRXKKhaHzLawmernuAMkQR31UMzPxaD1Z/tU+fom6kSzSXhE+WGymrf/nhZd8Ze/UMtTt9WGCQrqsbFb0nSkmr2Sb2XQEl+OWYfD0S5ytKo3dJSmb8fgwg6uit9LNfTFVae/bYcgMTnqZg3+xYbE17jOSL+hErTZvfE+uLfyY2Lyxc3ruOGf3wNvwysfDqOdufMwIYZDavS4KWV7RBCBh7BbTbV/zkDn1/Z9oIe2AP3DpAXEr+dOblPGf9Ihau8LTHO2q6xkTehUau4B5X5XsQsQNmPxr3X+3PMmpCbBi6S48aENCaKjo27CzStHGJMWPKFUho6yZWJM2iNbwUESJBISMvESJU7RYKuPSyrfQPsoq/F8kBZC/eC1SCff+FlSPpdv/TMYAnJjnfn6HnByfbghfzh1x71cpwA6O/D6uyqkcE2GaPcPTNj6fa9umUHqyFp99a4IgA7oSrjttsSFZo3Zqes5U7PKdzJFls2nUETa9qtMbptmASs9RB0sXUYh/I/okb1sDsWlJr27D7+bQKhESUDgxkYzMyufy5m9TsHpFhE8+jYFVeVaZtrUGGbIwq5aGygkghu+cdjoJK/FdhEbQvus0LjOrsOqxlTNMtFLK9EKANQ8/dHxSvZSHOqVMFy8no94kpgWT8cmE1X8e92fDKAlhfpIugcXsIvPWlWIqK4tgJJJ24WEeTO0wrjxgg==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
