---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    webui-secret-key: AgAjsyM4IDxbHVfCu/+roCdGEzH7GqRGT1QDsNJEY2ipRDik+wVfkePRitKLHES6Wl9352dIBWJ6lNYtro0cgGIc63mPsPHI3f3OMMDHOKk2HcUqh3u39WC2NBjXcTqpQtInHmZcP8zyflAh6XU7LGk8++AGEEIpPZw6jo5xeBojMV4rFm1vB/CiKo94KyzUghRDuHlD0JFVTpItzuiFyolgtay9F0ygxaWrSmwv7vi4rNEotLGZ+lAtHQJLXY4K2Yr6L/30RkzT/yA4MwtEpX3Rjl1J0jYC7SLP95bNz/iYwGp1qoUkyDib7TdrRfxWBIFAQhJQbjp91r/kahZiuaU9e5hxu16DRDyrokQ18zqxNutX9QVEVZf/hLe/3lpXBjn4D/zkRIOXRto8kTNeMtgiAJ2gsSW263hgAlQGLFFnqvcbalPaa8n2HPaE/80ZgzSB8BkR4jOdqc3kPig53MR4ip8NFrscITBCu6AkPm0ca5HMeH3LUJI3CXz/PGeMLTajvzidj+m5WYUwGHvtAd+67v0KNhIrR0spLTguxzuCVvtNiP4cZccA5cDAqEVL+9yUbWW65gHICXyn+9SeQuOp698CsnTg8eypAXswKNWGiWs01WmdyPiRfQ1EwV39BGd4r821M4/biIJbiX19NnI2+3SEKQBkIvWKTMMEt5Il8RikuG/NuKbZ3cmeRgV0CmPpBezoqk6B/RPqpUEHipLZgZLRkxpzXJszMW/GWVAmn81Fv8solUI+lgiOaw==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
