---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBZhvrui5sflLyISHEw4JXAFd0UHQEw6th8PaE1OXH9NbbNJkv+PWo0uahgpBtVDr00jMwzgxFrwfLvEsP6u9uBqUGgMczHn+8LZaiVC7pu4/+oN3uQsOGY3vPfU5EgV6T5DSHY57izdbFqWshLXf+5WordF1yfunu/e+MRRQ4Q766kbefqF/lE3DkHbF3XD505P/brttJUBqORtEd78TiIwrfPcJfIS1mvrjDThsJWhsnlC7GiRq4CM4kgwPLGe+rMuXZdzz+AYfKjkjTtiROTYE7rbUBWyUmxvIaBj7X9dAwnebtLx5FDT34jJN5+9RgISRwdMulBYDlS0Fiw6pazVe1b1k5vI+96cAKyZpxCMyEH+gimKwisPh8ecuaVLysMXtAJQnrT29ZFEIPbmMUUc8W49k5N9sYzHjruKlNgt1v6k8PIudwRARtum1VKsdTslv6O5U3bUlBFEoOnaAEDWTOozk8MYNiJfF/mPBFsREXJ0Sfl6KpgCpOEMqJYKyc22Z4n1GQ09SAay7JajhCVawg4dZMc4rg4i2hJC/zoRptMJtneW4OqzIE/ceyjr5cE6OUkAcKt8N+hs087Qag2V3jOWFov/0ivNnS/JvmBsUuZzcKIvUMFaMhFagEaPgAE6n6S6Hi9FkhBdTaAgHvcJGc2PeqYNNn0ExZVybkvRan7A1MxoVQg12wU4HYZd74kLsc1vWEbn39kJbVN2pTYJp+edCDjekmsG+YCnWEFwTBUkg/tgwQ403Ok/w==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
