---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgAFQe0+Lbo1vYM/6PM8tBtsWsPNVnxcxvvl5dNKNR3w8whyjceF6occgfSvaJNVoHVryfAYE3LGhU+HOx9S+X2JFG9hrbpyZEKT7ol6FCa01AkVYzJNQh7s0Y1eMKFVtJJ+d5xbrDhwPMf56EuoEKt7+IOW+bqTFV4RLtdtiIouQTMywqWTYH5LyAcHrku9R3aS2ogVXOtVbG5EE4UYijCBoZubgUpGWF4DqvktaV1EnE+uExvaEGmxFoGtP/cZdAj5BhfOgkuJg4rZ+QarH7ouN8rekkUWSIpdHE+TliVOLQJfOZcGt47Zr+19I7FXRJfS77jRX8Il4xVHKS4Y2TkAKgg52LVuSJZnLXq5Y0+9UHM0chxF+tHNLPXHNZOq7BOfWy2q+CxzaK13NbLXxlMnFNZlnNaIu/zttqwdAF8ceuui5Qizj523je3MBxmQkkn4ZX6Ns5G63ZqED8xo5SPhU5/uRYA7BaXgCMWPydH+1d4oJBBKici3sLcSwWTKr5gq8QmD1AA4+bsvf35UxGlcyhXpDfDpU7vYgFUzz2wd/66raBoLotH+qovtoWIGk6HfOjo9Kkxh8ggNVRHKUmzNPmwkoHjgYQBhKSqlVsbWKREH/iikWy3F318cn9wMG6oo+gCIAolqdMT2aWC52gQT+4tUmhll0ypQwZ3v5qEKZ1Z9nHwHtc2Hm60wzzQO3ERF2nXa6Z9gcD2vg0t38rB0OXGHHJ3MWWwCIUd4vkjebrCLxakygbIkA9ISqg==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
