---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBy+vw7WvUFrR4TlTj55acLXxnzi8t9FSvjBgPsfqmULRBdv4y0Ki/FCZDk8DqqLhAp9uns6q2DS4VKHgnqnsb/GODhJDqcBCx2krqLFZUATVG0xpOuBtvqI2yxjckel7+zZUQ0pSW9PCALZ8WT8aIbwQnUh49/ScWCi8fpETJEQhH8IpI8+k6HeFqv5Al+7mKmdeZWD3iZgaiWed1yIsccEGwa23arcValJwRFZo9qzWL6CMHNmvBBjINV/J9dO84kzWxTkORWYrWcyuaz1Chx1NmZP7b61vYbcVknEnxkSRvGm9UUy50I6jwc+1w6bPQm16UJPQr0JB+nuteHZLnqQ7iadU+YYz91X7vtSUrJsLCE5KQt83lNpdrOVmZvZZtGGc+QTCiJWuf12y/s9fWF7/NBWr5Vy8z6wojh6GmSIBaWZXWwJkdn53S0mVub5DbP+KRObOP1RCEyodDSKzzuB9sAbopssJDnVshyf4es2cpmNOQRc+HyzSBNWDDzXXDim9bfFmQ2Cjb7OCS3ElI7HO1MZKISceVh9n0Ott//KdI5WkvI101b/EI6D1Q4aDKY1qscbHk7JbHomQ25cIXqmpQSb1XqF28lpUW1iTnji6OX5bGmp+kxaRgve4fZlfbuhLsQTNQY4zt3TEOTzzHZoZnkg1mVNaxKWk27BWKp0FYNHfrrPOXOApiSy5WLOdZUSELVetvzKHgv3Cdbzz39L/rC33WD3V8mBS7+qcV6tySNw8bGSaiOoacTkg==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
