---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgCWCncWBXsR8qe4pOmhCEJw2YhF0RUretQJW1VdPqaurw25170tJLUM+ZIEqBXXPt01fZ2EMYeD1q6Dezss1JK3DBgCwiLxXSyxa4f3CcsfibAsc/ZsKkSznrVwrfD27X+MEbAr7ls2bxU35zHcCqJioQIBRtgJd4BLD4OsxxtZb6iuwHH14P+U309RqFvJH0gQihxXYio+WiDBmtAYxVpI7QUvy+lY0XWUF25da7RTmN4cTh/w8sSAjDQHX6tMboX0uyOzHScycDzmDR9NDQBoypv5vsd/qLi9WCz/huvQaESmXPcp/cXN8WDKH6lp19VgP+iZNjwG5iu9NYxtBaXAwBxWUVg5A9xY2rHAeK3WDQHsnDB+JIHkuJQzbQLSAyAG+ZZLu+JS+JI/aOmfpwRwvsxD3YBkjGYsizJbNML+4ZdvyFNE543jS1+8j2g67I0ZZelsufqGz+Q9EFEuSsf/e3N2JePOzd6kHyGOxWwwuAgmkb8AOUeFLsJIUbbUZIq+PPhOolDPbce3hPxbB/46zohSwr4yDimXXZC9oC2BZfZvO/QcGsDFrWKbKxL2/Bmaqyz4FRJ+xvAzUdoPtZ8lObfv8/BQDQfkI/wSvMYCg4eX+wJ58IWB+KdZxvAsjqTMUeuVM24LZdw5LonJKk9zIZtQhp/TfQyyU6QqiEG+LvkaKAmVgkkHvy8qskZrgDJAKQfIjk2x/xqn/mdc8bawlhCz4/uXOFZ2a0DIUsJIUDtqzU1mMDl9YU758w==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
