---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBwoth3ymSr7ORO/nPQbKcOqFOV2F0duRdUaYdW7szrfVIUDrsG7nb6iDYiE9dOXYTRxSP3DqhLtvM6/96RhLbhHU6b8Hc8Ylqt/CVxhz7UVyEndWRaaMepMVW+Mds6EaMXWA1ep8kc1df+/IBBB7MeFh5rQEbym3vmvYXGGCNcqVND05oBQWDvoBFyf32YyrP0STD4i44s2QZIMcjP1YMPLaeTuuDXjH176XwAOHhD0wH0AMsb/1ksJVsbYCGBma5A+u/jGxF8hi8kW7y7U9/kzAHETcWF5bIx0V2i6s2r9l3C5q3+Itn4/R7++k9T01M1GG0HSn35x5CDI2SV1tmtCU3IHz2vObGDFY4/LGkcfihVro9u9YAg2mvMUBR76B6vA+0JtiN3yLj/NqYPjbKS4fUk2L4vmBQrzw+YiH0RmYTIPYUq5g76YU++TC6j9ab8JRuhyxT+F5hAZGMTTMvPzn5GQxZME2AEFnwLVIws4ECy2yR1R9I6yh8VDFCw3fOA9P0uiT4Ei47LLl5CGN5Zg7lwLAlhf2KCr4hZshHcVGKfXOsv8SqZlzIURQDPx1eF6VuX+GYkfn44FqWkAGhox+LI/TKB49AiC34LlnbhoaHCEPLJh8/tpH5jsfkEJTJauCYSgroPWqk9VMC8F/h/7D6ClJ7kpvXMT0KimN8OTzKdt6GS9yiTm9abLIxF2uiWrvcYic1WHvvlVW+nc9br06ymb5Lhfsn+UCm19j/OVoe4IyHZk1Bjab8raQ==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
