---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgA7+bbM/+5RJ3qUej/E76x/9gQPqGnRk5CkMIHY4/qE6fWvjqklzyiaJraDr3bVZCUSlCLO/fTU/DUvLs3GdMb4A2b4rdmDDNO4xHlBdPOxwfXZlD3ymI7pjUUWXOcI2ANDJDhoCLLU9JcAHHSKdDMMoowavhg+gqsmmRL30a+ByCnPp6nD1Azr7SJYOWJZqcIwkFh1I2KeRynM2TGoPkOMXvcNXxBhmjAIsR+znL8udG9sh8H9ZZ5/Czlk8yHYVZbGXoWosF7YN9aUWeMAWptx5FwWcsBbAXJjtHf5HI0yRUklmC3JWsq9cILAPC28N9fplsw0SCDJPgjOvuNAxaByRVEmiVxKkwQJVb2Bx8gZJeXZKz++RWC+YIoHTOwhcR4p2EaXF1nLQyy06Hwp4JxKDQvOyI7vDii+tgD9bb7/vm+jRqj0r/G+TSsq1YuidSYBWO85qcwhxQ4cubdlgSgn6GTlzLIx2lsTljcjRK9Q2wH6sGWswX83IiBnaneU2dQcQstgp9zcnyNtCFy2FDOjZK/1C29eZ5chfJH4yZcntwlxXsf8MdyfFhryl1dRS5niI/yYFAWkg8A7QY0I5lVWL3z0+gFoDIDXg8QButQhap6OG8A+S4KoXrnwZdAG/grd8tvhblAcs5eji23Voy3EUza1lLA9bp7jCn1P4LMfwjVteuT5pODY8X6UO2ryeC0T4IOVKZ/cgvP3xk3X2Yccuxve5I2VA3rQ+f8RkuDzkzh+uh9cj20zLgMoXA==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
