---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgB91H2kEL3Wis84xoRUHI5DS9py5KlGIFrHMgq1rYqm1d1OLDI7ubcKwMQQZlgraR2bT6oElmcAgwNEfF+3ghAV4/ALT7MRtN7PmZFSyUnJIJV/mJr7B++4oYu43yD6oSoLCEC5mG7I2A69cPNFcNBHdeE58EdYT51nxOSsI+KRMtPNM49m2KJ4Sv04ooMWfK6xQO4QSrsSi+PJ120sT3rUKmjYgBbDw40oN127V4cB+MhIorGycuaDFLyFimrhKh4L5ldljXSg3irelRr8WAAxZDI1UaDSOWMf8LVkqI4a9MqI/b5/vX8BAPYFae0G9ZiNEPc7mBO3PzyiYR38R/Hz1Y+9JSgv8Fo0D2PDwUTRUYPUVN9LymiXKhJJGTPvIDld1+Paf1tBlojQ1T97SBDWnkPWhE/qsglah9VlI3zlB9APHdX3uyBvajLZho3z7iEUynXBWA5Hv8Iijtv8NKkeJUyIjN6D3/32KblSQvvdfa5eo31NSKccF3Ssesu/cJp5ABalBMjI/iK0CCPY3JmAUQ+4067AOD1TIOP/RgjRhjAnwZcp819Y4M6LSSm400KCZOcnnK5i06EwL0qg+rfsOXdMLKdZFLvunhC22M2i/DNZeEqmAHjDwjG9zKgVQ0TxamvQ83am29CQkc4GbibK29o9mHwVNPLz3WaAKPMgRLd8OM/I7J6VH6zD05/3BKVeIwAqZIFD2Z0EFUBu1KmYsD/185mBPsj7yvygxPoLP/vEGmpp+/ozXXIjGw==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
