---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBgdjCNP2iHkTDVtO7A6/wF7fp5tUIq0+UxpkfdAJ5QMJZe9cpdHj6Q9neouzrLYtpWjOYB6muHodvLPHDTLeYsvImMJofkyqCL4YGgx8HZXld0d/xmZ59H4Tp6kduniPREBUSAFMR8Vmt3MENpPluT2LX4qypX+v+C5ei/y0bAN4MN6nqkjfeNHWY5RAGmqJPakoPiCwPaHoZGY8HAkrCDmiPDmg7MiB5Rr0++1oUlw+MQ2tNNwOnZ/JD1wvHYTfo/Eun7RznMRMdZh8TDN1DM0UxHyOH5w6yH+H9helvnw6ckqb0ukQrasAprKGfUbkzajOtiUu2nEwM0X81FluXNgrE0dVvvBp0i/K+ZI4kyCCRymSH2syzTPojYIT7lOUc/TmDEg6d2A5wmVPIVlfX8EVqRL8dKvmh8dGh9EaDVFUVwp7snivFPaFd9K2m1qIwIQME2oQB6nXw3qonHtcEyWAImBS1ed+g/3j2cCA4bYWZWTAWhWBDDIrnVABAq6kZWxrtBArGdsDf2F8L+P96ysAx0/6g23oW8G16+CyyNpvPyUGlBoQ+609u6T6HrNukh5hA2umxGoC6u+//mkBHo3Q4Qjflp0C8ColQiVRZ4lUuFgsODfUL6E11XBOyWio0g69MuOwJaxABwf8vuB6M3USinnt5Hgbnm5qEzAN2MOKYXDgehoRMepwbu9ObZoLw7mZ3o4RmhiCjUN6jUXfXAUvY/yZqQ6f/dNyN16362ZFxL3+p8OY/dXartUQ==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
