---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgCa4zxDzOPsT8ZcnensoQ6OM7j2KyhdHclPydsZiOMiuVirZYausNkImEtwvdreloVOARhqaqjgXwKT2K+x7Mw9bQezfstCjNwdrZ90cby4hd+mNlgFd4S1TW9yfCGlrN4QdTIaQmkutt7SUkMRWbIeXvLmBHrpeQzaaqtd74VDPyOnd/YMK/tv9YxnwDwAvu3rFXXsgyz2prLn1e2ZoYsms4gArMlQN7grnRn67YWbwH9Du2epIs35ROenkNgEiqqBw6zIihXCyX42s00VBYatT5k4vLKX4PBwhWVAa0xCqv1XDIsonbLmyBUGEZ87EyPRWzFT+3HyKlS6D0ruS+rozwuRBLKybmuar+clEgvz5GIY/nm9srXoPboFEVzk4FW1TpBVGCJGEdq3RN5sZHWqrLsLNG2M+PL57x701ocL7f4JoFcPeeoXNMpDiAlH2aYQgZL7agWRLk0bp+QnnwmOXcNLvcFFXNFBUGNgEUpwO49Qb2sgV7SEQ+w7v8rYXj3eVZmYnDd7IsklzFIdzBUCJUplUkoQ8oBDF4ZPofbYnpreMExXfYTNDOH9dsic7eEaGmFrJYMTG4AmWKwlxraZkr0jzmaKvo1gOA73VF9fjkcHd4L8pXhn0Ww7I+Ea1XgzuvkLcaTh8uCmJOsfIqPvobrGoDi3D5igpcVX1EhvNacOZgtxRP0oIzPMT9cD+xDViArnEn7SquFglIVHDNkRNSJH6UNl6gLbCHJlC7HVyhdSgPoROpJOK1c39Q==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
