---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgBDukYJBXrrtHty4pDRTlAwQFXPgBH6NR1U2wloQs9iR8Sb167Xq80/gtvhntey5LUurtmBK1QrRZ4rm2aisa9ZQaZ2MB+9ZyfTa2KqdBdDm5W+TfDBDWRk0j8pEogSaJBa/uKHf2BpDMzah0ZUH5zPPsARBa5hXJ3Nj3yPmNBKIFJ+Nc88EzgP+9kBB15YXJIrhcyQ9diQm8Wic/Q9vmI/Vij5mc3lcQhY+ZyekR6aVc679sSKXmpjU0uNtLyL5Otji1C3k7zuDS3aTXxB/YJGUUb4ZLFehgAcvaPIT18eIjOo33yBL7Uj+TGanfwfoAoUkbElvaOVfdSU7cbdOCiSbo/PaDLLLwS66J4fZ2ujGLfbGiGarPb5eLNEEB2b8OHZvusrISdrHREySD8om69zZ2/bdFjTnyupEHNgGTpcWf5ZQGHBrhOHOLf+V+IktaC3p2RQKQ3/RKrHA9jJmQsMBQMpWWbNPICkkSNGykpaGbkSApGpXy4inaXLNCaob9Tw0201grv7GRwP/LiSlGttUAyrxeT3fCuVUXDYR7fELnSbTNhdxLGkNFLxDV7dn7sLMghi/K+sHFIJo0pDXvZ6oQFu28GYyAkLxL95UqTnGW5Dff9Fewbj+M7vQGRwXaq56Cmf4jSuD6KYprE5SL3LpTPyLEHMbXOmbktYsY1HxpdMAiaT8UCBkeq+oqoXrq7UZVX9VzmGegwXxDf+lu5vUyE+8uBxGaBQtQC55s/Sw1ZfuTJH5zmi97Yrbw==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
