---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgCe9Xz9mPKGgpB1ntWShEhCupYlRUZDYFhuRf8fDLROGN+B4PxMMXQUTykC7Q6wi6PTHe6YyU3F5cavvG7kM0C5+FIhRvucJjGJKdGEuhaMtmeRhFoFINY2Pd8tUHSupI4p0g4lHessSAeZ3gC0Qu9KFaZJ1NoREN1nVBISsiljxRCGnjPYUtq3sj5qftSvEeaw3kTtOyFCFAYtcIvrrlR8aKJADMi3soaWWTBOR6wXruOI4x3h1dq3HQftTGf6jQwjIuzSkb4d4U6oq8/HMM0cxKNItCOVlv27iXK4wnfozauuATfWoLZt4jsrC0ulprf1NsehaBiHnNO1FNruE9UhCFkev5mtLYBGiTBPAoqhm6dKUKBF3rgpHyztDyTILeeHCT9ML6hligU1AlT6eKj+u/XAPDw33e6Qd8KvzX7w6vELrX6N2HDuXOwipcc8qfTIShp+vbnd37qnWihMML2DtjPJNzxiPDsvTERbcFkcl4nY1vw0otrJNANSqYE11mqG0PSW9Jk3HUTw5enQt42rvxnQYoasNLnzGNwkjfL9BK2Fc8/rT+dDRivw1ct9XCzTFbB9Od1rq0kYJ3vGMU3qCp3rkSofR6oKtlIGRXsJeUC/zfm/mxHgWw1SOK6r+Ex5Z+PHWlgTSD0Bz4Z/RvY08hRgcVLdE3y9Ln9wUp539tFSFPvweCKr+11yd3oMhkMfaaeUaS97pOS5phJyPS3QEamFzCwsgDrzapStCEZKhbIgwtEhgemRVj6VcQ==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
