---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: openwebui-secret
  namespace: ai-platform
spec:
  encryptedData:
    WEBUI_SECRET_KEY: AgDhUTN2eL/Q8lOpi4uxFe4iHQdMRdpsSh9PkSkX+cu/hOntWot6ouI0brjUb3vfvmaw6ZyC7tij7/VKuZuprleplhiIRdm9xyGjRY2IuLXbtr7/Q7977ftQsi3oOZ9tbgbSKhNPAA5cJoEYOj5v8oM5KvcoY4m/XOl+X6aR+4MXCAtO4MU3X9cpmDXi7/gZN+BRF6lvt8pfKbQLyRK6BvzVb/wlJ9Q3dzJ0xZuEQSZpRerjrRDdDEzGoLgTKfv3mgwH+u6j4s1wxO5N6ayD13F/K3UmZ2INf3fN8oK5BBxtAxO5AmplQbPVIWGMZZf+6XuXhNpwwtrFd7kPeDfA8fZ5lO8CdPpTcZ8Hklw4Be0pmZv1GivAFBqIfzrpL3kIwVZ1Q2QsTTJhqAdQmHu9cnzFk9NXbVitLbTjeHAxvGgdya22YGqi+KIgqPPgk+a1dmqRXIHbYRQKQ5jdzo6vSRAPWTfte/z6cekpG/ulJUHiZZqm6D171Wx8f5diYkC8pSDs04FUxsSruOAgiWwhuFM8ElnYuWBnRPHucle3HbNXLnDoq2qCYLvTrZ6RfI8n/eSTQ+jycRWq3RljW4vKyV00jNnwYu1hDzxI29SMWpsyqBiw+/OLuuREhHV8c7IdV2M3o97Y/bNjp7ewzwKQ2S6Kpz2qHUcYerincoOebKv0v3CB3IRkpWHBfH1DA8p8iOYg4JA6e2pEFDMlHlltrfN3fX0U5+VM6VqsLs2NqYaroQifFYXe3NEkzJNcrA==
  template:
    metadata:
      name: openwebui-secret
      namespace: ai-platform
